body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.08rem;
}
.display-2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
.display-5 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ee2b2a !important;
}
.bg-success {
  background-color: #ffdb00 !important;
}
.bg-info {
  background-color: #881818 !important;
}
.bg-warning {
  background-color: #111212 !important;
}
.bg-danger {
  background-color: #2a77ee !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ee2b2a !important;
  border-color: #ee2b2a !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #bc100f !important;
  border-color: #bc100f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #bc100f !important;
  border-color: #bc100f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #231f20 !important;
  border-color: #231f20 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #881818 !important;
  border-color: #881818 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #470d0d !important;
  border-color: #470d0d !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #470d0d !important;
  border-color: #470d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffdb00 !important;
  border-color: #ffdb00 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #b39900 !important;
  border-color: #b39900 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b39900 !important;
  border-color: #b39900 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #111212 !important;
  border-color: #111212 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #2a77ee !important;
  border-color: #2a77ee !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0f53bc !important;
  border-color: #0f53bc !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0f53bc !important;
  border-color: #0f53bc !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #a50e0d;
  color: #a50e0d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ee2b2a;
  border-color: #ee2b2a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ee2b2a !important;
  border-color: #ee2b2a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #231f20;
  border-color: #231f20;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #231f20 !important;
  border-color: #231f20 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #310909;
  color: #310909;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #881818;
  border-color: #881818;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #881818 !important;
  border-color: #881818 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #998300;
  color: #998300;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #ffdb00;
  border-color: #ffdb00;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffdb00 !important;
  border-color: #ffdb00 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #111212;
  border-color: #111212;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #111212 !important;
  border-color: #111212 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #0d49a5;
  color: #0d49a5;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #2a77ee;
  border-color: #2a77ee;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #2a77ee !important;
  border-color: #2a77ee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ee2b2a !important;
}
.text-secondary {
  color: #231f20 !important;
}
.text-success {
  color: #ffdb00 !important;
}
.text-info {
  color: #881818 !important;
}
.text-warning {
  color: #111212 !important;
}
.text-danger {
  color: #2a77ee !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #a50e0d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #998300 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #310909 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #0d49a5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #881818;
}
.alert-warning {
  background-color: #111212;
}
.alert-danger {
  background-color: #2a77ee;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ee2b2a;
  border-color: #ee2b2a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ee2b2a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fde7e7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #de4242;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c2c6c6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e7f0fd;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
blockquote {
  border-color: #ee2b2a;
}
.btn-primary {
  margin: 1rem 0.5rem !important;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 6px 16px 0 #ee2b2a !important;
  -webkit-box-shadow: 0 6px 16px 0 #ee2b2a !important;
  background-color: #ee2b2a !important;
  border-color: #ee2b2a !important;
}
.btn-secondary {
  margin: 1rem 0.5rem !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: 0 6px 15px 0 #231f20 !important;
  -webkit-box-shadow: 0 6px 16px 0 #231f20 !important;
  background-color: #231f20 !important;
  border-color: #231f20 !important;
}
.btn-success {
  color: white !important;
  margin: 1rem 0.5rem !important;
}
.btn-success:active {
  color: white !important;
}
.btn-success:hover,
.btn-success:focus {
  color: white !important;
  box-shadow: 0 6px 15px 0 #ffdb00 !important;
  -webkit-box-shadow: 0 6px 16px 0 #ffdb00 !important;
  background-color: #ffdb00 !important;
  border-color: #ffdb00 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ee2b2a;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background-color: #f5f6ff;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ee2b2a;
  border-bottom-color: #ee2b2a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ee2b2a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #231f20 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ee2b2a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sxrC6xjYT0 .modal-body .close {
  background: #1b1b1b;
}
.cid-sxrC6xjYT0 .modal-body .close span {
  font-style: normal;
}
.cid-sxrC6xjYT0 .carousel-inner > .active,
.cid-sxrC6xjYT0 .carousel-inner > .next,
.cid-sxrC6xjYT0 .carousel-inner > .prev {
  display: flex;
}
.cid-sxrC6xjYT0 .carousel-control .icon-next,
.cid-sxrC6xjYT0 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-sxrC6xjYT0 .carousel-control:hover {
  background: #ee2b2a;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sxrC6xjYT0 .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sxrC6xjYT0 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-sxrC6xjYT0 .boxed-slider > div {
  position: relative;
}
.cid-sxrC6xjYT0 .container img {
  width: 100%;
}
.cid-sxrC6xjYT0 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-sxrC6xjYT0 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-sxrC6xjYT0 .mbr-table-cell {
  padding: 0;
}
.cid-sxrC6xjYT0 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sxrC6xjYT0 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-sxrC6xjYT0 .mbr-overlay {
  z-index: 1;
}
.cid-sxrC6xjYT0 .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-sxrC6xjYT0 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.cid-sxrC6xjYT0 .carousel-item.active.right,
.cid-sxrC6xjYT0 .carousel-item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-sxrC6xjYT0 .carousel-item.active.left,
.cid-sxrC6xjYT0 .carousel-item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-sxrC6xjYT0 .carousel-item.active,
.cid-sxrC6xjYT0 .carousel-item.next.left,
.cid-sxrC6xjYT0 .carousel-item.prev.right {
  left: 0;
  opacity: 1;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-control {
  top: 50%;
  margin-top: -1.9rem;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 0 !important;
  transition: all 0.3s;
  z-index: 11;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
}
@media (max-width: 767px) {
  .cid-sxrC6xjYT0 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: #ee2b2a;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators li.active,
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators li::after,
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-sxrC6xjYT0 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-sxrC6xjYT0 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-sxrC6xjYT0 .mbr-slider > .container img {
  width: 100%;
}
.cid-sxrC6xjYT0 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-sxrC6xjYT0 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-sxrC6xjYT0 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sxrC6xjYT0 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-sxrC6xjYT0 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-sxrC6xjYT0 .carousel-item .container.container-slide {
  position: initial;
  min-height: 0;
}
.cid-sxrC6xjYT0 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-sxrC6xjYT0 .full-screen .slider-fullscreen-image.active {
  display: flex;
}
.cid-sxrC6xjYT0 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-sxrC6xjYT0 .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-sxrC6xjYT0 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-sxrC6xjYT0 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-sxrC6xjYT0 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rlf4PtSi5X {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rlf4PtSi5X .mbr-text {
  color: #716c80;
}
.cid-rlf4PtSi5X .card-img span {
  font-size: 96px;
  color: #149dcc;
  padding: 0.6rem;
  margin-right: 1.5rem;
  border-radius: 8px;
}
.cid-rlf4PtSi5X .card-img .img1 {
  background-color: #231f20;
}
.cid-rlf4PtSi5X .card-img .img2 {
  background-color: #ee2b2a;
}
.cid-rlf4PtSi5X .card-img .img3 {
  background-color: #111212;
}
.cid-rlf4PtSi5X .card-img .img4 {
  background-color: #ff8a73;
}
.cid-rlf4PtSi5X .mbr-iconfont {
  transition: all 0.3s;
  color: #ffffff !important;
  font-size: 1.5rem !important;
}
.cid-rlf4PtSi5X .card {
  display: flex;
  flex-direction: row;
  transition: all 0.3s;
  padding: 2rem 1.5rem !important;
}
.cid-rlf4PtSi5X .card:hover {
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
  transform: translateY(-1.5rem);
}
.cid-rlf4PtSi5X .card-title,
.cid-rlf4PtSi5X .card-img {
  color: #57468b;
}
@media (max-width: 576px) {
  .cid-rlf4PtSi5X .card {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0!important;
  }
  .cid-rlf4PtSi5X .card .card-img {
    margin-bottom: 1rem;
  }
  .cid-rlf4PtSi5X .card:hover {
    box-shadow: none;
    transform: none;
  }
  .cid-rlf4PtSi5X .card-img span {
    margin-right: 0rem;
  }
}
.cid-rlf4PtSi5X .card-title {
  color: #231f20;
}
.cid-rlf564ozp3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rlf564ozp3 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rlf564ozp3 .btn {
  font-size: 16px;
  padding: 0.5rem 2rem;
}
.cid-rlf564ozp3 .btn-primary-outline {
  border: none;
  color: gray;
}
.cid-rlf564ozp3 .btn-primary-outline:active {
  color: gray;
}
.cid-rlf564ozp3 .btn-primary-outline:hover {
  color: white;
}
.cid-rlf564ozp3 div {
  overflow: hidden;
}
.cid-rlf564ozp3 .btn-primary-outline.active {
  color: white;
}
.cid-rlf564ozp3 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rlf564ozp3 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rlf564ozp3 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rlf564ozp3 .mbr-gallery-item {
  overflow: hidden;
}
.cid-rlf564ozp3 .mbr-gallery-item:hover img {
  transform: scale(1.1);
}
.cid-rlf564ozp3 .mbr-gallery-item img {
  transition: all 0.3s;
}
.cid-rlf564ozp3 .mbr-gallery-filter {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cid-rlf564ozp3 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rlf564ozp3 .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-rlf564ozp3 .mbr-gallery-item > div:hover:before {
  opacity: 0.6 !important;
}
.cid-rlf564ozp3 .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-rlf564ozp3 .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #232323 !important;
  opacity: 0.6;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-rlhJpa1Xy3 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-1920x1290.jpg");
}
.cid-rlhJpa1Xy3 .mbr-overlay {
  background-color: #111212;
  opacity: 0.8;
}
.cid-rlhJpa1Xy3 input,
.cid-rlhJpa1Xy3 textarea {
  padding: 0.4rem 1.4rem!important;
  border-radius: 10px;
}
.cid-rlhJpa1Xy3 img {
  width: 90%;
  border-radius: 8px;
}
.cid-rlhJpa1Xy3 .btn {
  border-radius: 30px;
  padding: 0.6rem 3rem!important;
}
.cid-rlhJpa1Xy3 textarea {
  min-height: 160px;
}
.cid-rlhJpa1Xy3 .form-control,
.cid-rlhJpa1Xy3 .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #232323;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rlhJpa1Xy3 .form-control:hover,
.cid-rlhJpa1Xy3 .field-input:hover,
.cid-rlhJpa1Xy3 .form-control:focus,
.cid-rlhJpa1Xy3 .field-input:focus {
  background-color: #efefef;
  border-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rlhJpa1Xy3 input::-webkit-input-placeholder,
.cid-rlhJpa1Xy3 textarea::-webkit-input-placeholder {
  color: #c1c1c1;
}
.cid-rlhJpa1Xy3 input:-moz-placeholder,
.cid-rlhJpa1Xy3 textarea:-moz-placeholder {
  color: #c1c1c1;
}
.cid-rlhJpa1Xy3 .jq-selectbox li,
.cid-rlhJpa1Xy3 .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rlhJpa1Xy3 .jq-selectbox li:hover,
.cid-rlhJpa1Xy3 .jq-selectbox li.selected {
  background-color: #efefef;
  color: #000000;
}
.cid-rlhJpa1Xy3 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rlhJpa1Xy3 .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #efefef;
}
.cid-rlhJpa1Xy3 H5 {
  color: #ee2b2a;
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  .cid-rlhJpa1Xy3 img {
    width: 100%;
  }
  .cid-rlhJpa1Xy3 .google-map {
    margin-bottom: 2rem;
  }
}
.cid-rlhJpa1Xy3 .google-map {
  height: 32rem;
  position: relative;
}
.cid-rlhJpa1Xy3 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rlhJpa1Xy3 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rlhJpa1Xy3 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rlhJpa1Xy3 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-rlhJpa1Xy3 .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-s9MC3MQ8Vz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #111212;
}
.cid-s9MC3MQ8Vz h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s9MC3MQ8Vz p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
  font-size: 0.7em;
}
.cid-s9MC3MQ8Vz .ax-pulse {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: #263d4a;
  }
  100% {
    color: #81ba26;
  }
}
.cid-s9MC3MQ8Vz .card-img {
  width: auto;
}
.cid-s9MC3MQ8Vz .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-s9MC3MQ8Vz .card-box {
  padding-left: 1rem;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-s9MC3MQ8Vz .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
}
@media (max-width: 300px) {
  .cid-s9MC3MQ8Vz .card-img span {
    font-size: 40px !important;
  }
}
.cid-rlf5rK4iOY {
  padding-top: 120px;
  padding-bottom: 75px;
  background-color: #111212;
  position: relative;
  overflow: hidden;
}
.cid-rlf5rK4iOY .container {
  max-width: 1400px;
}
.cid-rlf5rK4iOY .card-img2 span {
  padding-top: 6px;
}
.cid-rlf5rK4iOY .soc-item a {
  padding-top: 5px;
}
.cid-rlf5rK4iOY .btn {
  padding: 0.4rem 0.6rem;
  margin: 0.5rem!important;
  border-radius: 10px!important;
  letter-spacing: 0px;
}
.cid-rlf5rK4iOY .btn .mbr-iconfont {
  margin-top: 0.1rem;
}
@media (max-width: 992px) {
  .cid-rlf5rK4iOY .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rlf5rK4iOY svg {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6) rotate(180deg);
}
.cid-rlf5rK4iOY #e2_shape {
  fill: #ffffff !important;
}
.cid-rlf5rK4iOY .quote {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1.8rem;
  color: #ffffff;
}
.cid-rlf5rK4iOY .quote::after {
  top: 100%;
  left: 36px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent;
}
.cid-rlf5rK4iOY .card-img2 {
  width: 45px;
  height: 45px;
  background: #231f20;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-rlf5rK4iOY .soc-item {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.cid-rlf5rK4iOY .soc-item span {
  font-size: 1.4rem;
}
.cid-rlf5rK4iOY .soc-item:hover span {
  color: #ee2b2a !important;
}
.cid-rlf5rK4iOY .item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cid-rlf5rK4iOY .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-rlf5rK4iOY .media-wrap {
  margin-bottom: 1rem;
}
.cid-rlf5rK4iOY .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rlf5rK4iOY img {
  height: 4rem;
}
@media (max-width: 576px) {
  .cid-rlf5rK4iOY .item {
    justify-content: center;
  }
  .cid-rlf5rK4iOY .quote::after {
    left: 60px;
  }
}
.cid-rlf5rK4iOY .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .cid-rlf5rK4iOY .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rlf5rK4iOY .text1 {
  color: #ee2b2a;
  text-align: center;
}
.cid-rlf5rK4iOY .item-title {
  color: #ffffff;
}
.cid-rlf5rK4iOY H5 {
  color: #ffffff;
}
.cid-rlf5rK4iOY .theme {
  color: #ffffff;
}
.cid-rlf5rK4iOY .copyright > p {
  color: #ff3366;
}
.cid-rlf5rK4iOY .text2 {
  color: #ffffff;
}
.cid-s9MuV5yV7S .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ee2b2a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-s9MuV5yV7S .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-s9MuV5yV7S .nav-item:focus,
.cid-s9MuV5yV7S .nav-link:focus {
  outline: none;
}
.cid-s9MuV5yV7S .text-white:hover,
.cid-s9MuV5yV7S .text-white:active,
.cid-s9MuV5yV7S .text-white:focus {
  color: white!important;
}
.cid-s9MuV5yV7S .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #111212;
}
.cid-s9MuV5yV7S .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-s9MuV5yV7S .navbar.opened {
  transition: all .3s;
  background: #111212 !important;
}
.cid-s9MuV5yV7S .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-s9MuV5yV7S .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-s9MuV5yV7S .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s9MuV5yV7S .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s9MuV5yV7S .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s9MuV5yV7S .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s9MuV5yV7S .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s9MuV5yV7S .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s9MuV5yV7S .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s9MuV5yV7S .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s9MuV5yV7S .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s9MuV5yV7S .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s9MuV5yV7S .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s9MuV5yV7S .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s9MuV5yV7S .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s9MuV5yV7S .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s9MuV5yV7S .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s9MuV5yV7S .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s9MuV5yV7S .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s9MuV5yV7S .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s9MuV5yV7S .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s9MuV5yV7S .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s9MuV5yV7S .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s9MuV5yV7S .navbar.navbar-short {
  background: #111212 !important;
  min-height: 60px;
}
.cid-s9MuV5yV7S .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s9MuV5yV7S .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s9MuV5yV7S .section {
  position: relative;
  overflow: visible!important;
}
.cid-s9MuV5yV7S .dropdown-item {
  font-weight: 400!important;
  color: #ee2b2a !important;
}
.cid-s9MuV5yV7S .dropdown-item:hover {
  color: #ee2b2a !important;
}
.cid-s9MuV5yV7S .dropdown-menu {
  background-color: white!important;
}
.cid-s9MuV5yV7S .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px #111212;
  display: block;
}
.cid-s9MuV5yV7S .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ee2b2a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-s9MuV5yV7S .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-s9MuV5yV7S .nav-item .nav-link {
    position: relative;
  }
}
.cid-s9MuV5yV7S .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s9MuV5yV7S .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s9MuV5yV7S .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
  padding-right: 1rem;
}
.cid-s9MuV5yV7S .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s9MuV5yV7S .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s9MuV5yV7S .collapsed {
  flex-direction: row!important;
}
.cid-s9MuV5yV7S .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s9MuV5yV7S .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s9MuV5yV7S .navbar-caption {
  font-weight: 600!important;
}
.cid-s9MuV5yV7S .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s9MuV5yV7S .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s9MuV5yV7S .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s9MuV5yV7S .dropdown-item.active,
.cid-s9MuV5yV7S .dropdown-item:active {
  background-color: transparent;
}
.cid-s9MuV5yV7S .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s9MuV5yV7S .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s9MuV5yV7S .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s9MuV5yV7S .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #111212;
}
.cid-s9MuV5yV7S .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s9MuV5yV7S ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s9MuV5yV7S .navbar-buttons {
  text-align: center;
}
.cid-s9MuV5yV7S button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s9MuV5yV7S button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ee2b2a;
}
.cid-s9MuV5yV7S button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s9MuV5yV7S button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s9MuV5yV7S button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s9MuV5yV7S button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s9MuV5yV7S nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s9MuV5yV7S nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s9MuV5yV7S nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s9MuV5yV7S nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s9MuV5yV7S .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s9MuV5yV7S .nav-link {
  font-weight: 600!important;
}
.cid-s9MuV5yV7S a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s9MuV5yV7S .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s9MuV5yV7S .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-s9MuV5yV7S .icons-menu span {
  font-size: 26px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s9MuV5yV7S .navbar {
    height: 77px;
  }
  .cid-s9MuV5yV7S .navbar.opened {
    height: auto;
  }
  .cid-s9MuV5yV7S .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s9MW4hkQp1 {
  padding-top: 120px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mllrgbv2-bg-1920x680.png");
  position: relative;
  overflow: hidden;
}
.cid-s9MW4hkQp1 .svg1 {
  position: absolute;
  bottom: -20rem;
  left: 50%;
  transform: translate(-50%) scale(1.3, 1.2);
}
.cid-s9MW4hkQp1 #e1_circle,
.cid-s9MW4hkQp1 #e3_circle,
.cid-s9MW4hkQp1 #e4_circle,
.cid-s9MW4hkQp1 #e5_circle {
  fill: #231f20 !important;
}
.cid-s9MW4hkQp1 #e6_circle {
  fill: #111212 !important;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@keyframes rev {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(360deg);
  }
}
.cid-s9MW4hkQp1 .round {
  border-radius: 100%;
  position: absolute;
  background-color: #231f20;
  animation: orbit 4s linear infinite;
}
.cid-s9MW4hkQp1 .rev {
  animation: rev 4s linear infinite;
}
.cid-s9MW4hkQp1 .round1 {
  width: 50px;
  height: 50px;
  left: 7%;
  top: 60%;
}
.cid-s9MW4hkQp1 .round2 {
  width: 90px;
  height: 90px;
  left: 15%;
  top: 15%;
}
.cid-s9MW4hkQp1 .round3 {
  width: 40px;
  height: 40px;
  left: 30%;
  top: 15%;
}
.cid-s9MW4hkQp1 .round4 {
  width: 90px;
  height: 90px;
  left: 40%;
  top: 3%;
}
.cid-s9MW4hkQp1 .round5 {
  width: 50px;
  height: 50px;
  right: 5%;
  top: 55%;
}
.cid-s9MW4hkQp1 .round6 {
  width: 30px;
  height: 30px;
  right: 30%;
  top: 15%;
}
.cid-s9MW4hkQp1 .round7 {
  width: 70px;
  height: 70px;
  right: 20%;
  top: 20%;
}
.cid-s9MW4hkQp1 .round8 {
  width: 110px;
  height: 110px;
  right: 8%;
  top: 30%;
}
.cid-s9MW4hkQp1 .round9 {
  width: 90px;
  height: 90px;
  right: 7%;
  top: 70%;
}
.cid-s9MW4hkQp1 .round10 {
  width: 50px;
  height: 50px;
  right: 35%;
  top: 5%;
}
.cid-s9MW4hkQp1 .round11 {
  width: 70px;
  height: 70px;
  left: 8%;
  top: 35%;
}
.cid-s9MW4hkQp1 H1 {
  color: #ffffff;
}
.cid-s9MW4hkQp1 .mbr-text,
.cid-s9MW4hkQp1 .mbr-section-btn {
  color: #716c80;
}
.cid-s9MW4hkQp1 H3 {
  color: #716c80;
}
@media (max-width: 992px) {
  .cid-s9MW4hkQp1 .round9,
  .cid-s9MW4hkQp1 .round5 {
    display: none;
  }
}
@media (max-width: 576px) {
  .cid-s9MW4hkQp1 .round {
    display: none;
  }
}
.cid-sxlgunJiqr {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sxlgunJiqr .card-wrapper {
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-sxlgunJiqr .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sxlgunJiqr .card {
  text-align: center;
}
.cid-sxlgunJiqr .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
.cid-sxlhAE0JNe {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sxlhAE0JNe .card-wrapper {
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-sxlhAE0JNe .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sxlhAE0JNe .card {
  text-align: center;
}
.cid-sxlhAE0JNe .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
#custom-html-10 {
  /* Type valid CSS here */
}
#custom-html-10 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-10 p {
  font-size: 24px;
  color: #777;
}
.cid-s9MVpYeFBQ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #111212;
}
.cid-s9MVpYeFBQ h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s9MVpYeFBQ p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
  font-size: 0.7em;
}
.cid-s9MVpYeFBQ .ax-pulse {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: #263d4a;
  }
  100% {
    color: #81ba26;
  }
}
.cid-s9MVpYeFBQ .card-img {
  width: auto;
}
.cid-s9MVpYeFBQ .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-s9MVpYeFBQ .card-box {
  padding-left: 1rem;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-s9MVpYeFBQ .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
}
@media (max-width: 300px) {
  .cid-s9MVpYeFBQ .card-img span {
    font-size: 40px !important;
  }
}
.cid-s9MVpZFQv8 {
  padding-top: 120px;
  padding-bottom: 75px;
  background-color: #111212;
  position: relative;
  overflow: hidden;
}
.cid-s9MVpZFQv8 .container {
  max-width: 1400px;
}
.cid-s9MVpZFQv8 .card-img2 span {
  padding-top: 6px;
}
.cid-s9MVpZFQv8 .soc-item a {
  padding-top: 5px;
}
.cid-s9MVpZFQv8 .btn {
  padding: 0.4rem 0.6rem;
  margin: 0.5rem!important;
  border-radius: 10px!important;
  letter-spacing: 0px;
}
.cid-s9MVpZFQv8 .btn .mbr-iconfont {
  margin-top: 0.1rem;
}
@media (max-width: 992px) {
  .cid-s9MVpZFQv8 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-s9MVpZFQv8 svg {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6) rotate(180deg);
}
.cid-s9MVpZFQv8 #e2_shape {
  fill: #ffffff !important;
}
.cid-s9MVpZFQv8 .quote {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1.8rem;
  color: #ffffff;
}
.cid-s9MVpZFQv8 .quote::after {
  top: 100%;
  left: 36px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent;
}
.cid-s9MVpZFQv8 .card-img2 {
  width: 45px;
  height: 45px;
  background: #231f20;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-s9MVpZFQv8 .soc-item {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.cid-s9MVpZFQv8 .soc-item span {
  font-size: 1.4rem;
}
.cid-s9MVpZFQv8 .soc-item:hover span {
  color: #ee2b2a !important;
}
.cid-s9MVpZFQv8 .item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cid-s9MVpZFQv8 .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-s9MVpZFQv8 .media-wrap {
  margin-bottom: 1rem;
}
.cid-s9MVpZFQv8 .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-s9MVpZFQv8 img {
  height: 4rem;
}
@media (max-width: 576px) {
  .cid-s9MVpZFQv8 .item {
    justify-content: center;
  }
  .cid-s9MVpZFQv8 .quote::after {
    left: 60px;
  }
}
.cid-s9MVpZFQv8 .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .cid-s9MVpZFQv8 .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s9MVpZFQv8 .text1 {
  color: #ee2b2a;
  text-align: center;
}
.cid-s9MVpZFQv8 .item-title {
  color: #ffffff;
}
.cid-s9MVpZFQv8 H5 {
  color: #ffffff;
}
.cid-s9MVpZFQv8 .theme {
  color: #ffffff;
}
.cid-s9MVpZFQv8 .copyright > p {
  color: #ff3366;
}
.cid-s9MVpZFQv8 .text2 {
  color: #ffffff;
}
.cid-s9MVq1hEPT .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ee2b2a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-s9MVq1hEPT .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-s9MVq1hEPT .nav-item:focus,
.cid-s9MVq1hEPT .nav-link:focus {
  outline: none;
}
.cid-s9MVq1hEPT .text-white:hover,
.cid-s9MVq1hEPT .text-white:active,
.cid-s9MVq1hEPT .text-white:focus {
  color: white!important;
}
.cid-s9MVq1hEPT .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #111212;
}
.cid-s9MVq1hEPT .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-s9MVq1hEPT .navbar.opened {
  transition: all .3s;
  background: #111212 !important;
}
.cid-s9MVq1hEPT .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-s9MVq1hEPT .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-s9MVq1hEPT .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s9MVq1hEPT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s9MVq1hEPT .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s9MVq1hEPT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s9MVq1hEPT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s9MVq1hEPT .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s9MVq1hEPT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s9MVq1hEPT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s9MVq1hEPT .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s9MVq1hEPT .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s9MVq1hEPT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s9MVq1hEPT .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s9MVq1hEPT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s9MVq1hEPT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s9MVq1hEPT .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s9MVq1hEPT .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s9MVq1hEPT .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s9MVq1hEPT .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s9MVq1hEPT .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s9MVq1hEPT .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s9MVq1hEPT .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s9MVq1hEPT .navbar.navbar-short {
  background: #111212 !important;
  min-height: 60px;
}
.cid-s9MVq1hEPT .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s9MVq1hEPT .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s9MVq1hEPT .section {
  position: relative;
  overflow: visible!important;
}
.cid-s9MVq1hEPT .dropdown-item {
  font-weight: 400!important;
  color: #ee2b2a !important;
}
.cid-s9MVq1hEPT .dropdown-item:hover {
  color: #ee2b2a !important;
}
.cid-s9MVq1hEPT .dropdown-menu {
  background-color: white!important;
}
.cid-s9MVq1hEPT .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px #111212;
  display: block;
}
.cid-s9MVq1hEPT .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ee2b2a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-s9MVq1hEPT .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-s9MVq1hEPT .nav-item .nav-link {
    position: relative;
  }
}
.cid-s9MVq1hEPT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s9MVq1hEPT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s9MVq1hEPT .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
  padding-right: 1rem;
}
.cid-s9MVq1hEPT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s9MVq1hEPT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s9MVq1hEPT .collapsed {
  flex-direction: row!important;
}
.cid-s9MVq1hEPT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s9MVq1hEPT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s9MVq1hEPT .navbar-caption {
  font-weight: 600!important;
}
.cid-s9MVq1hEPT .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s9MVq1hEPT .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s9MVq1hEPT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s9MVq1hEPT .dropdown-item.active,
.cid-s9MVq1hEPT .dropdown-item:active {
  background-color: transparent;
}
.cid-s9MVq1hEPT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s9MVq1hEPT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s9MVq1hEPT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s9MVq1hEPT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #111212;
}
.cid-s9MVq1hEPT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s9MVq1hEPT ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s9MVq1hEPT .navbar-buttons {
  text-align: center;
}
.cid-s9MVq1hEPT button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s9MVq1hEPT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ee2b2a;
}
.cid-s9MVq1hEPT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s9MVq1hEPT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s9MVq1hEPT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s9MVq1hEPT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s9MVq1hEPT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s9MVq1hEPT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s9MVq1hEPT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s9MVq1hEPT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s9MVq1hEPT .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s9MVq1hEPT .nav-link {
  font-weight: 600!important;
}
.cid-s9MVq1hEPT a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s9MVq1hEPT .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s9MVq1hEPT .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-s9MVq1hEPT .icons-menu span {
  font-size: 26px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s9MVq1hEPT .navbar {
    height: 77px;
  }
  .cid-s9MVq1hEPT .navbar.opened {
    height: auto;
  }
  .cid-s9MVq1hEPT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
